services:
  nginx:
    restart: on-failure
    build: services/nginx/
    container_name: nginx
    ports:
      - "8080:8080"


networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge
