services:
  nginx:
    volumes:
      - avatars_data:/usr/share/nginx/html/avatars:ro

  install-dependencies:
    container_name: install-dependencies
    build:
      context: .
      dockerfile: .dev/Dockerfile.install
    volumes:
      - ./:/app

  auth:
    build:
      context: .
      dockerfile: services/auth/Dockerfile.dev
    volumes:
      - ./:/app
    environment:
      - DTO_OPENAPI_FILE=../../../packages/common/openapiDTO.json
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully

  users:
    build:
      context: .
      dockerfile: services/users/Dockerfile.dev
    volumes:
      - ./:/app
      - avatars_data:/app/services/users/app/avatars
    environment:
      - DTO_OPENAPI_FILE=../../../packages/common/openapiDTO.json
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully

  auth_google:
    build:
      context: .
      dockerfile: services/auth_google/Dockerfile.dev
    volumes:
      - ./:/app
    environment:
      - DTO_OPENAPI_FILE=../../../packages/common/openapiDTO.json
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully

  social:
    build:
      context: .
      dockerfile: services/social/Dockerfile.dev
    volumes:
      - ./:/app
    environment:
      - DTO_OPENAPI_FILE=../../../packages/common/openapiDTO.json
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully

  pong-server:
    container_name: pong-server
    build:
      context: .
      dockerfile: ./services/pong-server/Dockerfile.dev
    volumes:
      - ./:/app
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully

  frontend:
    volumes:
      - ./:/app
    build:
      dockerfile: services/frontend/Dockerfile.dev
    restart: none
    ports:
      - "3000:3000"
    depends_on:
      install-dependencies:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD-SHELL", "true"]

volumes:
  avatars_data:

