services:
  install-dependencies:
    container_name: install-dependencies
    build:
      context: .
      dockerfile: .dev/Dockerfile.install
    volumes:
      - ./:/app
  auth:
    build:
      context: .
      dockerfile: services/auth/Dockerfile.dev
    volumes:
      - ./:/app
    environment:
      - DTO_OPENAPI_FILE=../../../packages/common/openapiDTO.json
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully
  users:
    build:
      context: .
      dockerfile: services/users/Dockerfile.dev
    volumes:
      - ./:/app
    environment:
      - DTO_OPENAPI_FILE=../../../packages/common/openapiDTO.json
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully
  2fa:
    build:
      context: .
      dockerfile: services/2fa/Dockerfile.dev
    volumes:
      - ./:/app
    environment:
      - DTO_OPENAPI_FILE=../../../packages/common/openapiDTO.json
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully

  matchmaking:
    build:
      context: .
      dockerfile: services/matchmaking/Dockerfile.dev
    volumes:
      - ./:/app
    environment:
      - DTO_OPENAPI_FILE=../../../packages/common/openapiDTO.json
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully
