services:
  install-dependencies:
    container_name: install-dependencies
    build:
      context: .
      dockerfile: .dev/Dockerfile.install
    volumes:
      - ./:/usr/src/app
    command: npm install
  auth:
    build:
      context: .
      dockerfile: services/auth/Dockerfile.dev
    container_name: auth-dev
    volumes:
      - ./:/usr/src/app
    environment:
      - PORT=3042
      - USERS_SERVICE_URL=http://users:3042
      - OPEN_API_FILE=../../../packages/common/openapiDTO.json
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully

  users:
    build:
      context: .
      dockerfile: services/users/Dockerfile.dev
    container_name: users-dev
    volumes:
      - ./:/usr/src/app
    environment:
      - PORT=3042
      - AUTH_API_BASE_URL=http://auth:3042
      - OPEN_API_FILE=../../../packages/common/openapiDTO.json
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully

  nginx:
    container_name: nginx-dev
    build:
      context: services/nginx
      dockerfile: Dockerfile.dev
    ports:
      - '8042:8042'
volumes:
  auth_root_node_modules:
  auth_ws_node_modules:
  auth_data:
  users_root_node_modules:
  users_ws_node_modules:
  users_data: