services:
  nginx:
    build:
      dockerfile: Dockerfile.dev
    volumes:
      - avatars_data:/usr/share/nginx/html/avatars:ro

  install-dependencies:
    container_name: install-dependencies
    build:
      context: .
      dockerfile: .dev/Dockerfile.install
    volumes:
      - ./:/app

  auth:
    build:
      context: .
      dockerfile: services/auth/Dockerfile.dev
    volumes:
      - ./:/app
    environment:
      - DTO_OPENAPI_FILE=../../../packages/common/openapiDTO.json
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully

  users:
    build:
      context: .
      dockerfile: services/users/Dockerfile.dev
    volumes:
      - ./:/app
      - avatars_data:/app/services/users/app/avatars
    environment:
      - DTO_OPENAPI_FILE=../../../packages/common/openapiDTO.json
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully

  social:
    build:
      context: .
      dockerfile: services/social/Dockerfile.dev
    volumes:
      - ./:/app
    environment:
      - DTO_OPENAPI_FILE=../../../packages/common/openapiDTO.json
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully

  game:
    build:
      context: .
      dockerfile: services/game/Dockerfile.dev
    volumes:
      - ./:/app
    environment:
      - DTO_OPENAPI_FILE=../../../packages/common/openapiDTO.json
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully

  frontend:
    volumes:
      - ./:/app
    build:
      dockerfile: services/frontend/Dockerfile.dev
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully
    healthcheck:
      test: ['CMD-SHELL', 'true']

  2fa:
    volumes:
      - ./:/app
    build:
      dockerfile: services/2fa/Dockerfile.dev
    restart: none
    depends_on:
      install-dependencies:
        condition: service_completed_successfully

volumes:
  avatars_data:
