name: Commit and PR Check

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  commit_format_check:
    name: Conventional Commit Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: commit-check/commit-check-action@v1
        with:
          # Assuming your config file is at this path
          config: .github/workflows/commit-check-param.yml