name: Unit Tests

on:
  pull_request:

jobs:
  unit_tests:
    name: Unit Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Setup node.js
        uses: actions/checkout@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: |
          npm install
      - name:  Build project
        run: |
          npm run build
      - name: Run unit tests
        run: |
          npm test