@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'HoldMoney';
		src: url('/assets/fonts/HoldMoney/HoldMoney-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
}

@layer components {
	.notyf_success {
		@apply bg-green-100 text-green-900 rounded-lg shadow-md px-4 py-2;
		border: 1px solid rgba(0, 0, 0, 0.06);
	}
	.notyf_error {
		@apply bg-red-100 text-red-900 rounded-lg shadow-md px-4 py-2;
		border: 1px solid rgba(0, 0, 0, 0.06);
	}
	.notyf_info {
		@apply bg-blue-100 text-blue-900 rounded-lg shadow-md px-4 py-2;
		border: 1px solid rgba(0, 0, 0, 0.06);
	}

    .generic_btn {
        @apply border-2 border-black hover:bg-black hover:text-white w-full py-2 transition-colors;
    }
}

@layer utilities {
    .title_font {
        @apply font-HoldMoney text-5xl;
    }
    .title_bloc {
        @apply mt-1 text-2xl font-semibold;
    }

	.news_paragraph {
		@apply text-black opacity-15 select-none text-justify;
	}

}

body {
	background-color: #fffefc;
	background-image: url('https://www.transparenttextures.com/patterns/cream-paper.png');
}
