@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .submission_btn {
	@apply bg-green-500 border border-green-600 p-3 hover:bg-green-600;
  }
  .generic_btn {
	@apply bg-gray-300 rounded-md border border-gray-400 hover:bg-gray-400 shadow-xl;
  }
}

body {
  background-color: #f9fcf2;
background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}